:root {
  --navbar-font--Color: #000000;
  --navbar-active--Color: #B2E4D8;
  --navbar-height: 80px;
}

.home {
  line-height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px; 
  font-weight: 500; 
  letter-spacing: 0;
  }
  
.events {
  line-height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  }

.organizations {
  line-height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  }

.username {
  line-height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  justify-content: flex-end;
  float: right;
  margin-left: 40px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 20px;
}

.title {
  width: 160px;
  line-height: 90px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  word-spacing: normal;
  float: left;
  text-indent: 20px;
}

.BU {
  width: 20px;
  line-height: 90px;
  color: #CC0000;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 500;
  float: left;
  text-indent: 52px;
}

.phrase {
  width: 600px;
  line-height: 140px;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  margin-left: -159px;
}

.pf-c-page__header-nav {
  height: var(--navbar-height);
  --pf-c-nav__horizontal-list-link--Color: var( --navbar-font--Color);  
  --pf-c-nav__horizontal-list-link--hover--Color: var(--navbar-active--Color);
  --pf-c-nav__horizontal-list-link--active--Color: var(--navbar-active--Color);
  --pf-c-nav__horizontal-list-link--focus--Color: var(--navbar-active--Color);
  --pf-c-nav__horizontal-list-link--hover--after--BackgroundColor: var(--navbar-active--Color);
  --pf-c-nav__horizontal-list-link--active--after--BackgroundColor: var(--navbar-active--Color);
  --pf-c-nav__horizontal-list-link--focus--after--BackgroundColor: var(--navbar-active--Color);
}

