.nested {
    margin-left: 3vw;
    margin-bottom: 5px;
    --pf-c-check__label--Color: white;
    --pf-c-check__label--disabled--Color: white;
}

.tags {
    --pf-c-check__label--Color: white;
    --pf-c-check__label--disabled--Color: white;
    margin-left: 2vw;
    margin-bottom: 5px;
    vertical-align: middle;
}

.tagheader {
    font-family: 'Rubik', 'san-serif';
    color: #FDFDFD;
    text-indent: 1vw;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5px;
}