:root {
    --margin-left: 4vw;
    --font-color: #6c7075;
    --font: 'Rubik', sans-serif;
    --margintop: -30px;
}

.subheading {
    font-size: 19px;
    font-weight: 500; 
    margin-bottom: 1vh
}

.goback {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.headerr{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 50px;
    font-size: 30px; 
    font-weight: 350;
    color: black
}

.botpadding {
    margin-bottom: 2vh;
}

.botmargin {
    margin-bottom: 6vh;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.infogrid {
    margin-left: var(--margin-left);
    color: var(--font-color);
    font-family: var(--font);
    margin-top: var(--margintop);
}