:root {
    --margin-left: 4vw;
    --font-color: #6c7075;
    --font: 'Rubik', sans-serif;
    --margin-top: -20px;
    --sidebar-width: 20vw;
    --z-index-var: 1;
}

.sidebarrr {
    width: 15vw;
    height: 303vh;
    background-color: #358D7D;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.pf-c-page{
    margin-top: var(--margin-top);
    --pf-c-page__sidebar--md--Width: var(--sidebar-width);
}

.headert{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 50px;
    font-size: 24px; 
    font-weight: 300;
    font: 'Rubik', sans-serif;
}

.card{
    background-color: #ECEADF;
    border-radius: 20px;
    width: 20vw;
    text-indent: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #286A6A;
}

.pf-c-card__body {
    line-height: 24px;
}


.eventit{
    margin-top: -15px;
    margin-bottom: -8px;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
}

.contain{
    margin-left: 4vw;
    margin-right: 4vw;
}

.resultcard{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    color: #286A6A;
}

.descr{
    color: black;
    margin-top: 8px;
    margin-bottom: 2vh;
}

.blackfont {
    color: #286A6A;
}

.pf-c-title {
    text-decoration: none;
}

.resultcard {
    border-radius: 20px;
    padding: 1%;
}
