:root {
    --margin-left: 4vw;
    --font-color: #878B91;
    --font: 'Rubik', sans-serif;
    --margin-top: -20px;
}

.sidebar {
    width: 800px;
    height: 200vh;
    background-color: #2DB095;
}

.page {
    margin-top: var(--margin-top);
}

.spaceleft {
    margin-left: 3vw;
    margin-bottom: 2vw;
}

.headert{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 50px;
    font-size: 36px; 
    font-weight: 300;
    font: 'Rubik', sans-serif;
}
