:root {
    --margin-left: 4vw;
    --font-color: #6c7075;
    --font: 'Rubik', sans-serif;
    --margin-top: -20px;
    --sidebar-width: 20vw;
}

.pf-c-page{
    margin-top: var(--margin-top);
    --pf-c-page__sidebar--md--Width: var(--sidebar-width);
}

.sidebar {
    width: 15vw;
    height: 200vh;
    background-color: #358D7D;
}

.spaceleft {
    margin-left: 3vw;
    margin-bottom: 2vw;
}

.headert{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 50px;
    font-size: 36px; 
    font-weight: 300;
    font: 'Rubik', sans-serif;
}
