:root {
    --margin-left: 4vw;
    --font-color: #6c7075;
    --font: 'Rubik', sans-serif;
    --margintop: -30px;
}

.subheading {
    font-size: 19px;
    font-weight: 500; 
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.goback {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.headder{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 50px;
    font-size: 30px; 
    color: #286A6A;
    font-weight: 500;
}

.botpadding {
    margin-bottom: 2vh;
}

.botmargin {
    margin-bottom: 6vh;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.infogrid {
    margin-left: var(--margin-left);
    color: var(--font-color);
    font-family: var(--font);
    margin-top: var(--margintop);
}

.pf-c-button.pf-m-link {
    color: #2D2926;
    font-size: 20px;
    font-weight: 500;
}

.pf-c-button.pf-m-link:hover {
    color: #99978D;
}

.subheading {
    color: #2D2926;
    font-size: 16px;
}

.pf-m-5-row, .pf-m-5-col {
    color: #2D2926;
    font-size: 16px;
}

.pf-m-12-col {
    color: #2D2926;
}

.pf-m-12-col:hover, .pf-c-title.pf-m-md:hover{
    color: #99978D;
    text-decoration: none;
}

.pf-c-button.pf-m-primary {
    background-color: #358D7D;
    font-size: 20px;
    font-weight:500;
}

.pf-c-button:disabled {
    background-color: #99978D;
}

.pf-c-card {
    border-radius: 50%;
}