.headert{
    margin-top: 2%;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 26px; 
    font-weight: 300; 
    text-indent: 5%;
    color: black
}

.image{
    border-radius: 50%;
    padding-right: 20px;
    padding-left: 40px;
    height: 250px;
}

.bottom{
    margin-bottom: 2%;
}

.clubname{
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}