.headert{
    margin-top: 2%;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 26px; 
    font-weight: 300; 
    text-indent: 2vw;
    color: black
}

.image{
    border-radius: 50%;
    padding-left: 100px;
    height: 250px;
}

.bottom{
    margin-bottom: 2%;
}

.clubname{
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}

.pf-c-button.pf-m-link {
    color: #2D2926;
    font-size: 20px;
    font-weight: 500;
}

.pf-c-button.pf-m-link:hover {
    color: #99978D;
}

.headder {
    color: #286A6A;
    font-weight: 500;
}

.subheading {
    color: #2D2926;
    font-size: 16px;
}

.pf-m-5-row, .pf-m-5-col {
    color: #2D2926;
    font-size: 16px;
}

.pf-m-12-col {
    color: #2D2926;
}

.pf-m-12-col:hover {
    color: #99978D;
}

.pf-c-button.pf-m-primary {
    background-color: #358D7D;
    font-size: 20px;
    font-weight:500;
}

.pf-c-button:disabled {
    background-color: #99978D;
}

.pf-c-button.pf-m-block {
    width: 110%;
    padding: 2% 0 2% 0;
}

.pf-c-nav__item {
    color: red;
}